body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3abcd3;
}

h1 {
    text-align: center;
}


p{
    text-indent: 20px;
}

h3{
    background-color: #3abcd3;
    color: white;
    text-align: center;
    line-height: 30px;
}

.dt {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 0;
}

table{
    text-align: center;
}

